{{ if eq .Kind "404" -}}
  <meta name="robots" content="noindex, follow">
{{ else -}}
  {{ with .Params.robots -}}
    <meta name="robots" content="{{ . }}">
  {{ else -}}
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  {{ end -}}
{{ end -}}

{{ if .IsHome -}}
  <title>{{ .Site.Params.title }}</title>
{{ else -}}
  <title>{{ .Title }} {{ .Site.Params.titleSeparator }} {{ .Site.Params.name }}</title>
{{ end -}}

{{ with .Description -}}
  <meta name="description" content="{{ . }}">
{{ else -}}
  {{ with .Summary | plainify -}}
    <meta name="description" content="{{ . }}">
  {{ else -}}
    <meta name="description" content="{{ .Site.Params.description }}">
  {{ end -}}
{{ end -}}

{{ if $.Scratch.Get "paginator" }}
  <link rel="canonical" href="{{ .Paginator.URL | absURL }}">
  {{ if .Paginator.HasPrev -}}
    <link rel="prev" href="{{ .Paginator.Prev.URL | absURL }}">
  {{ end -}}
  {{ if .Paginator.HasNext -}}
    <link rel="next" href="{{ .Paginator.Next.URL | absURL }}">
  {{ end -}}
{{ else  -}}
  <link rel="canonical" href="{{ .Permalink }}">
{{ end -}}

{{ partial "head/opengraph.html" . }}
{{ partial "head/twitter_cards.html" . }}

{{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}

<!--
{{ partial "head/structured-data-landing-page.html" . }}
-->

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "VideoObject",
    "name": "TTSReader - Text to Speech Reader Demo",
    "description": "Showcases the TTSReader text to speech reader, demonstrating its AI voices, main features, and capabilities.",
    "thumbnailUrl": "https://ttsreader.com/assets/images/demo_poster_20250506_900x.webp",
    "uploadDate": "2025-04-30",
    "contentUrl": "https://ttsreader.com/assets/videos/ttsreader3_demo_720p_20250506.webm",
    "embedUrl": "https://ttsreader.com/"
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "Free AI Text To Speech Reader & MP3 Generator | TTSReader",
    "description": "Online text-to-speech reader & MP3 generator. Reads out loud texts, PDFs, books & webpages with the most advanced AI-voices. Listen online or download audio",
    "url": "https://ttsreader.com",
    "image": {
      "@type": "ImageObject",
      "url": "https://ttsreader.com/assets/images/demo_poster_20250506_900x.webp",
      "width": 900,
      "height": 512
    }
  }
</script>
